@page "/"

@inherits LayoutComponentBase
@layout LandingLayout
@rendermode InteractiveAuto
<MudThemeProvider />
<MudPopoverProvider />
<MudSnackbarProvider />

<div style="text-align: center">
    <div class="flex-1" style="font-weight:bold; background:wheat;">
        <br />
        <img src="/images/Logo3.png" style="height: 600px" alt="Guitar Logo"/>
        <div>
            <MudButton href="/Account/Login" Variant="MudBlazor.Variant.Outlined" Color="Color.Primary">Log In</MudButton>
            <MudButton href="/Account/Register" Variant="MudBlazor.Variant.Outlined" Color="Color.Secondary">Register</MudButton>
        </div>
        <img src="/images/Treble dude.png" style="height: 200px" />
        <img src="/images/Bass dude.png" style="height: 200px" Gap="10em" />
    </div>
</div>

@code
{


}
