@page "/"

@inherits LayoutComponentBase
@layout LandingLayout
@rendermode InteractiveAuto
<MudThemeProvider/>
<MudPopoverProvider/>
<MudSnackbarProvider/>

<div style="text-align: center; background: lightskyblue;">
    <br/>
    <img src="/images/Logo3.png" style="height: 600px" alt="Guitar Logo"/>
    <div>
        <MudButton href="/Account/Login" Variant="MudBlazor.Variant.Filled" Color="Color.Primary">Log In</MudButton>
        <MudButton href="/Account/Register" Variant="MudBlazor.Variant.Filled" Color="Color.Secondary">Register</MudButton>
    </div>

    <img src="/images/NotesHR.png" style="height: 400px" alt="Notes strip"/>
</div>
@code
{


}