@page "/Account/Login"

@using System.ComponentModel.DataAnnotations
@using Variant = MudBlazor.Variant


<label style="display: block; text-align: center; font-size: x-large; font:bold">Please Log In</label>
<img src="/images/Treble dude.png" style="height: 200px" />
<EditForm Model="@_user" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />

    <MudGrid>
        <MudItem xs="4" sm="4">
            <MudCard>
                <MudCardContent>
                    <MudTextField Label="Username" Variant="Variant.Outlined" Margin="Margin.Dense"
                                  @bind-Value="_user.Username" For="@(() => _user.Username)"/>
                    <MudTextField Label="Password" Variant="Variant.Outlined" Margin="Margin.Dense"
                                  @bind-Value="_user.Password" For="@(() => _user.Password)" InputType="InputType.Password"/>
                </MudCardContent>
                @* <input type="submit" class="btn btn-primary" value="Save" /> *@
                <MudButton href="/Account/Manage" Variant="Variant.Filled">Profile Management</MudButton>
            </MudCard>
        </MudItem>
    </MudGrid>
</EditForm>

@code {private readonly LoginFormModel _user = new();

    private IEnumerable<string> MaxCharacters(string characters, int length)
    {
        if (!string.IsNullOrEmpty(characters) && length < characters?.Length)
            yield return "Max" + length + " characters";
    }

    private void OnValidSubmit(EditContext context)
    {
        StateHasChanged();
    }

    /// <summary>
    /// Represents the login form model.
    /// </summary>
    public class LoginFormModel
    {
        [Required]
        [MaxLength(8)]
        public string Username { get; set; } = string.Empty;

        [Required]
        [MinLength(6), MaxLength(15)]
        public string Password { get; set; } = string.Empty;
    }
}