@inherits LayoutComponentBase 
@using Microsoft.FluentUI.AspNetCore.Components
@using Radzen.Blazor

@* <MudThemeProvider />
<MudPopoverProvider />
<MudSnackbarProvider /> *@
@*          <div style="float:right"> 
            <img src="/images/Logo.png" class="top-screen-image" alt="Landing Image" style="height: 500px" />
        </div>  *@
        @Body
@code {

}
